<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <body>

    <div class="title">
      <div class="content">
        <div class="social">
          <a href="#"><%= image_tag("twitter-logo.png") %></a>
          <a href="#"><%= image_tag("facebook-logo-button.png") %></a>
          <a href="#"><%= image_tag("slack_symbol.png") %></a>
        </div>
        <div class="biginfo">
          <p class="dates">dates XX - XX 2016/2017</p>
          <p class="name">RUBYCONF</p>
          <a href="#", class="buttons">Join us!</a>
        </div>
      </div>
    </div>


    <div class="information">


    <div class="white">
      <p>
        <p class="largeFont">Building, learning, and making friends!</p>
        RubyConf is a Ruby Conference in somewhere North Carolina.
        Do you love Ruby and want to help make a change in the world? Then RubyConf
        is for you! RubyConf is dedicated to helping you, help others through coding!
      </p>
    </div>
</div>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">About</a></li>
        <li><a href="#tab2">What to Bring</a></li>
        <li><a href="#tab3">Directions</a></li>
        <li><a href="#tab4">Sponsors</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>Tab #1 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis.</p>
        </div>

        <div id="tab2" class="tab">
            <p>Tab #2 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
        </div>

        <div id="tab3" class="tab">
            <p>Tab #3 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum ri.</p>
        </div>

        <div id="tab4" class="tab">
            <p>Tab #4 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
        </div>
    </div>
</div>



</body>
</html>
