<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>
  <body>
    <div class="title">
      <div class="content">
        <div class="social">
          <a href="#"><%= image_tag("twitter-logo.png") %></a>
          <a href="#"><%= image_tag("facebook-logo-button.png") %></a>
          <a href="#"><%= image_tag("slack_symbol.png") %></a>
        </div>
        <div class="biginfo">
          <p class="dates">dates XX - XX 2016/2017</p>
          <p class="name">RUBYCONF</p>
          <p>catchphrase goes here</p>
          <a href="#">Join us!</a>
        </div>
      </div>
    </div>

    <div class="information">


    <div class="about">
      <p>
        RubyConf is a Ruby Conference in wherever North Carolina.
        Three days of building something, learning, and making friends!
        Add more to this? or put it in a seperate page? Also I had this really cool back
        image for the title but it wouldnt let me put text over it and I don't know how
      </p>
    </div>

    <div class="projects">
      Info about Projects to work on goes here
    </div>

    <div class="What to bring">
      Info for attendees on what to bring with them goes here
    </div>
    <div class="sponsors">
      Our sponors go here(IF WE HAVE ANY)
      <button type="submit" name="button">Become a Sponsor!</button>
    </div>
</div>

</body>
</html>
