<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>
  <body>
    <div class="title">
      <div class="content">
        <div class="social">
          <a href="#"><%= image_tag("twitter-logo.png") %></a>
          <a href="#"><%= image_tag("facebook-logo-button.png") %></a>
          <a href="#"><%= image_tag("slack_symbol.png") %></a>
        </div>
        <div class="biginfo">
          <p class="dates">dates XX - XX 2016/2017</p>
          <p class="name">RUBYCONF</p>
          <a href="#", class="buttons">Join us!</a>
        </div>
      </div>
    </div>



    <div class="information">


    <div class="about">
      <p>
        RubyConf is a Ruby Conference in somewhere North Carolina.
        Three days of building something, learning, and making friends!
        Do you love Ruby and want to help make a change in the world? Then RubyConf
        is for you! RubyConf is dedicated to helping you, help others through coding!
      </p>
    </div>

    <div class="organizers">
      <table>
        <tr>
          <th>Alyssa Pratt</th>
          <th>Mae Beale</th>
        </tr>
        <tr>
          <td>About me</td>
          <td>About you</td>
        </tr>
      </table>
    </div>

    <div class="What_to_bring">
      <table>
        <tr>
          <th>Bring</th>
        </tr>
        <tr>
          <td>
            <ul>laptop</ul>
            <ul>clothes</ul>
          </td>
          <td>
            <ul>deodorant</ul>
            <ul>whatever</ul>
          </td>
        </tr>
      </table>
    </div>

    <div class="projects">
      <p>We are working on several exciting project this year! They are </p>
      <p>PROJECT1, PROJECT2, PROJECT3, and PROJECT4.</p>
      <p><a href="#" class="buttons">Find out more about them here</a></p>
    </div>

    <div class="sponsors">
      <p>Our sponors go here(IF WE HAVE ANY)</p>
      <p><a href="#" class="buttons">Become a Sponsor</a></p>
    </div>
</div>

</body>
</html>
