<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <body>

    <div class="title">
      <div class="content">
        <div class="social">
          <a href="#"><%= image_tag("twitter-logo.png") %></a>
          <a href="#"><%= image_tag("facebook-logo-button.png") %></a>
          <a href="#"><%= image_tag("slack_symbol.png") %></a>
        </div>
        <div class="biginfo">
          <p class="dates">dates XX - XX 2017</p>
          <p class="name">CODE FORWARD</p>
          <a href="#", class="buttons">Join us!</a>
        </div>
      </div>
    </div>


    <div class="information">


    <div class="white">
      <p>
        <p class="largeFont">Building, learning, and making friends!</p>
        RubyConf is a Ruby Conference in somewhere North Carolina.
        Do you love Ruby and want to help make a change in the world? Then RubyConf
        is for you! RubyConf is dedicated to helping you, help others through coding!
        wow I really should put a margin here or something this looks terrible.
      </p>
    </div>
</div>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">About</a></li>
        <li><a href="#tab2">What to Bring</a></li>
        <li><a href="#tab4">Sponsors</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>Code Forward is a 3 day conference in somewhere NC</p>
            <p>
              Come build applications and friendships for three days in wherever nc with
              Code Forward! Code Forward is a Ruby Conference where you will spend the weekend building
              an application with a team of other Developers. The tabs also need margins cause
              the text is too close to the edge and its work to read and it looks terrible.
            </p>
        </div>

        <div id="tab2" class="tab">
            <p>What should I bring to Code Forward?</p>
            <p>
              bring stuff.
            </p>
        </div>

        <div id="tab4" class="tab">
            <p>These sponsors are proud to support us!</p>
            <p>
              Sponsor logos? or maybe their names? or BOTH?
            </p>
            <a href="#" class="buttons">Become a Sponsor</a>
        </div>
    </div>
</div>
</body>
</html>
