// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title {
  height:100vh;
  width: 100%;
  opacity: 1;
  background-color: #f9ca67;
  top: 0;
  display: table;
  z-index: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.about {
  height: 100px;
  width: 100%;
  background-color: white;
  text-align: justify;
}

.content {
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-family: 'Source Sans Pro', sans-serif;

  .name {
    font-size: 10em;
    margin: 0;
  }

  .social img {
    height: 32px;
    width: 32px;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.information {
  text-align: center;
    p {
      margin-left: 7em;
      margin-right: 7em;
    }
}
.projects {
  background-color: #f9ca67;
  padding-bottom: 3em;
  padding-top: 1em;
}

.sponsors {
  padding-bottom: 3em;
  padding-top: 1em;
}

.organizers {
  background-color: #f9ca67;
  padding-bottom: 3em;
  padding-top: 1em;
    table {
      display: inline;
      border-bottom: 1px solid;
      th {
        padding: 1em;
      }
    }
}

.What_to_bring {
  padding-bottom: 3em;
  padding-top: 1em;
}



//BUTTON

.buttons {
	background-color:#80ccff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.buttons:hover {
	background-color:#4db8ff;
}
.buttons:active {
	position:relative;
	top:1px;
}
